* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --light-bg-color: #F7F9FC;
    --card-curve: 6px;
    --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --transformY: translateY(-0.5rem);
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--primary);
    letter-spacing: -1px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--title-color);
}

.navbar-brand {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
}

a,
a:hover {
    text-decoration: none;
}

.header-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header li {
    list-style-type: none;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

button,
.btn,
select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

#carousel {
    padding-top: 140px;
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#carousel .row {
    align-items: center;
}

#carousel .right h3 {
    font-size: 50px;
    color: var(--title-color);
    font-weight: 700;
}

#carousel .right p {
    color: var(--text-color);
    font-size: 20px;
    max-width: 450px;
    margin: 16px 0 48px;
}

#carousel .btn-outline-primary {
    border-color: var(--primary);
    color: var(--primary);
}

#carousel .theme-button {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 30px;
    text-transform: uppercase;
}

#carousel .btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

#carousel .btn-outline-primary:focus,
#carousel .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-section h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.tools .s-block {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in;
    background: var(--light-bg-color);
    padding: 3rem 2rem;
    border: 1px solid var(--light-bg-color);
}

.d-block {
    display: block !important;
}

a {
    color: #dc4f72;
    text-decoration: none;
    background-color: transparent;
}

.tools .s-block p {
    color: var(--text-color);
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

ul.resp-tabs-list,
p {
    margin: 0px;
    padding: 0px;
}

.tools .s-block p {
    color: var(--text-color);
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

ul.resp-tabs-list,
p {
    margin: 0px;
    padding: 0px;
}

.tools .s-block h3 {
    color: var(--title-color);
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.tools .s-block:hover {
    transform: translateY(-10px);
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }

.intro {
    background-color: var(--light-bg-color);
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.intro .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: var(--title-color);
    font-weight: 700;
}

.w3l-stats .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24.4px;
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.w3l-stats {
    background: var(--light-bg-color);
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.w3l-stats .stats_info {
    background-color: #fff;
    padding: 2rem;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
    transition: 0.3s ease;
    border: 1px solid #eee;
}

.w3l-stats .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: var(--title-color);
    font-weight: 700;
}

.w3l-stats p.counter {
    font-size: 50px;
    line-height: 1;
    color: var(--primary);
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

ul.resp-tabs-list,
p {
    margin: 0px;
    padding: 0px;
    color: var(--text-color);
}

.w3l-slide .new-block {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.w3l-slide .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.w3l-slide .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.w3l-slide .middle-section {
    max-width: 550px;
}

.w3l-product .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.w3l-product .grids5-info {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
}

.w3l-product .blog-info {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.w3l-product .grid-view p.date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0px;
    position: absolute;
    top: -14px;
    right: 16px;
    background: var(--primary);
    padding: 15px;
    margin-bottom: 0;
    margin-top: 0;
    border-top-right-radius: 6px;
}

.w3l-product .grid-view img.news-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.w3l-product .grid-view .grids5-info p {
    line-height: 24.5px;
}

.w3l-product .grid-view .grids5-info img {
    width: 100%;
    display: block;
}

.w3l-product .blog-info {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.w3l-product label.tag-label.red {
    background: rgba(238, 97, 120, 0.2);
    color: var(--primary);
}

.w3l-product label.tag-label.green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.w3l-product label.tag-label.blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

.w3l-product label.tag-label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.w3l-product .grid-view .grids5-info h4 a {
    font-size: 22px;
    line-height: 27px;
    color: var(--title-color);
    display: block;
    font-weight: 600;
}

.w3l-product .grid-view .grids5-info h4 a {
    font-size: 22px;
    line-height: 27px;
    color: var(--title-color);
    display: block;
    font-weight: 600;
}

.w3l-product .grid-view .grids5-info p {
    font-size: 16px;
    line-height: 24.5px;
    color: var(--text-color);
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.w3l-product a.btn-news {
    padding: 0;
    color: var(--primary);
    transition: 0.3s ease-in-out;
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.grids5-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }